@page
@model IndexModel
@{
  ViewData["Title"] = "Home page";
}

<div class="text-center">
  <h1 class="display-4">Welcome</h1>
  <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div>
  @foreach (var month in Model.Months)
  {
    <h2>@Model.DisplayMonth(month)</h2>

    <h3>Assets</h3>
    @foreach (var item in Model.GetAssets(month).OrderByDescending(asset => asset.Value))
    {
      <div>
        @Model.DisplayTagNames(item.Key)
        &nbsp;for a total of&nbsp;
        @Model.DisplayPercentage(item.Value)
      </div>
    }

    <h3>Expenses</h3>
    @foreach (var item in Model.GetExpenses(month).OrderByDescending(expense => expense.Value))
    {
      <div>
        <span>@Model.DisplayTagNames(item.Key)</span>
        <span>for a total of</span>
        <span>@Model.DisplayPercentage(item.Value)</span>
      </div>
    }
  }
  <div>
</div>
