@page
@model IndexModel
@{
  ViewData["Title"] = "Home page";
}

<div class="text-center">
  <h1 class="display-4">Welcome</h1>
  <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div>
  @foreach (var month in Model.Months)
  {
    <h2>@Model.DisplayMonth(month)</h2>

    <h3>Assets</h3>
    @foreach (var item in Model.GetAssets(month).OrderByDescending(asset => asset.Value))
    {
      <div class="flex-container" id="@Model.DisplayTagIds(item.Key)">
        <div class="flex-item flex-tags">
          @Model.DisplayTagNames(item.Key)
        </div>
        <div class="flex-item flex-value">
          @Model.DisplayPercentage(item.Value)
        </div>
      </div>
    }

    <h3>Expenses</h3>
    @foreach (var item in Model.GetExpenses(month).OrderByDescending(expense => expense.Value))
    {
      <div class="flex-container" id="@Model.DisplayTagIds(item.Key)">
        <div class="flex-item flex-tags">
          @Model.DisplayTagNames(item.Key)
        </div>
        <div class="flex-item flex-value">
          @Model.DisplayPercentage(item.Value)
        </div>
      </div>
    }
  }
  <div>
</div>
<script src="https://www.unpkg.com/apollo-client-browser@1.9.0/dist/apollo-client.min.js"></script>
<script src="~/js/items.js"></script>
<script>
  var element = document.getElementById("3129045d-1de9-4a8f-9fd5-8944c4e9ff1a;185b4a38-12a6-4ead-b055-782d1db9156f");
  document.renderItems(element);
</script>
