@model Financier.Web.ViewModels.MonthlyExpenses

<link href="~/css/site.css" rel="stylesheet">

<div>
  hello Dan @Model.Year and @Model.Month
</div>
<div>
  <div>
    <h1>
      Assets:&nbsp;@(Model.Statement.GetAssetTotal())
    </h1>

    <h1>
      Expense:&nbsp;@(Model.Statement.GetExpenseTotal())
    </h1>

    <h1>
      Profit:&nbsp;@(Model.Statement.GetProfitTotal())
    </h1>
  </div>
    @foreach (var item in Model.GetItems().OrderByDescending(item => item.Amount))
    {
      <div class="flex-container">
        <div class="flex-item flex-tags">
          @(item.Description)
        </div>
        <div class="flex-item flex-more-tags">
          @foreach (var tag in item.Tags)
          {
            <span>@(tag.Name)</span>
          }
        </div>
        <div class="flex-item flex-value">
          @(item.Amount)
        </div>
      </div>
    }
</div>
