@model Financier.Web.ViewModels.Statement
@using Financier.Common.Extensions

<link href="~/css/site.css" rel="stylesheet">

<div>
  @Model.At.ToString("MMMM yyyy")
</div>

<!-- bar chart -->
<div class="charts">
  <div id="asset-costs">
    <h2>
      Assets
    </h2>
  </div>
  <div id="expense-costs">
    <h2>
      Expenses
    </h2>
  </div>
</div>

<link href="~/css/chart.css" rel="stylesheet">

<script src="~/js/apollo-client.min.js"></script>
<script src="~/js/d3.min.js">
</script>

<script type="text/javascript">
  'use strict';

  (function() {
    function request(year, month) {
      var client = new Apollo.lib.ApolloClient({
        networkInterface: Apollo.lib.createNetworkInterface({
          uri: '/graphql/statement',
          transportBatching: true,
        }),
        connectToDevTools: true,
      });

      client
        .query({
          query: Apollo.gql`
            {
              statement(
                year: ${year},
                month: ${month}
              ) {
                assetCosts {
                  tags {
                    name
                  }
                  amount
                }
                expenseCosts {
                  tags {
                    name
                  }
                  amount
                }
                assetAmountTotal
              }
            }
          `
        })
        .then(response => {
          drawChart(".charts #asset-costs", response.data.statement.assetCosts);
          drawChart(".charts #expense-costs", response.data.statement.expenseCosts);
        });
    }

    function drawChart(selector, costs) {
      var amounts = costs
        .map(x => x.amount)
        .sort()
        .reverse();
      var scale = d3.scaleLinear()
        .domain([0, d3.max(amounts)])
        .range([0, 800]);

      d3.select(selector)
        .selectAll("div")
          .data(costs)
        .enter().append("div")
          .attr("class", "datum")
          .style("width", d => {
            return `${scale(d.amount).toFixed()}px`;
          }).text(d => {
            return d.tags
              .map(tag => tag.name)
              .join(", ");
          });
    }

    request(2019, 4);
  })();
</script>

<div>
  <div>
    <h1>
      Assets:&nbsp;@(Model.GetAssetTotal())
    </h1>

    <h1>
      Expense:&nbsp;@(Model.GetExpenseTotal())
    </h1>

    <h1>
      Profit:&nbsp;@(Model.GetProfitTotal())
    </h1>
  </div>
  <div class="tag-costs">
    <h2>Assets</h2>
    @foreach (var tagCost in Model.AssetCosts.OrderBy(tc => tc.Amount))
    {
    <div class="flex-container">
      <div class="flex-item flex-tags">
        @(tagCost.Tags.Select(tag => tag.Name).Join(", "))
      </div>
      <div class="flex-item flex-amount">
        @((tagCost.Amount / Model.AssetAmountTotal).ToString("#0.00 %"))
      </div>
    </div>
    }
  </div>
  <div class="tag-costs">
    <h2>Expenses</h2>
    @foreach (var tagCost in Model.ExpenseCosts.OrderBy(tc => tc.Amount))
    {
    <div class="flex-container">
      <div class="flex-item flex-tags">
        @(tagCost.Tags.Select(tag => tag.Name).Join(", "))
      </div>
      <div class="flex-item flex-amount">
        @((tagCost.Amount / Model.ExpenseAmountTotal).ToString("#0.00 %"))
      </div>
    </div>
    }
  </div>
  <h2>Items</h2>
  @foreach (var item in Model.GetItems().OrderByDescending(item => item.Amount))
  {
    <div class="flex-container">
      <div class="flex-item flex-tags">
        @(item.Description)
      </div>
      <div class="flex-item flex-more-tags">
        @foreach (var tag in item.Tags)
        {
          <span>@(tag.Name)</span>
        }
      </div>
      <div class="flex-item flex-value">
        @(item.Amount)
      </div>
    </div>
  }
</div>
